asgiref == 3.7.2
django
djangorestframework
keras == 2.15
gunicorn == 22.0.0
numpy
packaging == 23.2
scikit-learn == 1.4.0
sqlparse == 0.4.4
tensorflow == 2.15
typing_extensions == 4.9.0
tzdata == 2023.4
whitenoise == 6.6.0
