body {
  overflow: hidden;
}
.navbar-brand img {
  max-width: 15%;
  height: auto;
  margin-right: 10px;
}

@font-face {
  font-family: "Roboto Black";
  src: url("/static/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url("file:///C:/Users/Windows/Downloads/motibotdjango/myapp/static/fonts/Outfit-VariableFont_wght.ttf")
    format("truetype");
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.navbar-nav .nav-item {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.navbar-nav .nav-item.active {
  font-weight: bold;
  font-size: 20px;
}

.navbar-brand-text {
  font-family: "Roboto Black", sans-serif;
  font-size: 20px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media (max-width: 800px) {
  .navbar-nav .nav-item {
    color: #333;
    text-decoration: none;
    font-size: 12px;
  }

  .navbar-nav .nav-item.active {
    font-weight: bold;
    font-size: 15px;
  }
}

/* HOME CSS */

.container-home {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

#subslogan {
  font-family: "Outfit", sans-serif;
  font-size: 1.6vw;
  width: 37vw;
}

.logs {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  height: 100vh;
  width: 100%;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.LeftSide {
  align-self: center;
  flex-basis: 50%;
  margin-left: 5%;
}

#slogan {
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-size: 4vw;
  width: 38vw;
}

#RightSide {
  flex-basis: 50%;
}
.chatBtn {
  font-family: "Outfit", sans-serif;
  font-size: 1.5vw;
  color: white;
  padding: 1%;
  width: 20vw;
  background-color: #44e15d;
  border-radius: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.chatBtn:hover {
  background-color: #76b974;
  color: #ffffff;
}

.chatBtn:focus {
  outline: none;
}

.chatBtn:active {
  transform: scale(0.95);
}

@media (max-width: 450px) {
  .logs {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    height: 100vh;
    width: 100%;
    background-position: 0%;
    min-width: 250px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: 300%;
    justify-content: center;
  }

  .container-home {
    justify-content: center;
    align-items: center;
  }

  .LeftSide {
    display: flex;
    align-self: flex-start;
    margin-top: 25vh;
    flex-direction: column;
  }

  #slogan {
    font-family: "Outfit", sans-serif;
    font-weight: bolder;
    font-size: 35px;
    width: 80vw;
  }

  #subslogan {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    width: 80vw;
  }

  #RightSide {
    flex-basis: 0%;
  }
  .chatBtn {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    color: white;
    padding: 1%;
    width: 40vw;
    background-color: #44e15d;
    border-radius: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    text-decoration: none;
  }
}

/* chatpage */

.chatpage {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.chatpage_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: row;
  flex-basis: 5%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.header img {
  height: 6vh;
  margin-right: 10px;
}

.header h6 {
  font-size: 1.3vw;
  font-family: "Outfit", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0 0 2px #000;
  letter-spacing: 1px;
}

.chat_container {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  flex-basis: 85%;
  max-height: 85vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.conversation::-webkit-scrollbar {
  width: 10px;
}

.conversation::-webkit-scrollbar-thumb {
  background-color: #c3edc0;
  border-radius: 5px;
}

.conversation::-webkit-scrollbar-thumb:hover {
  background-color: #44e15d;
}

.dropdown-menu.suggest .dropdown-item:focus,
.dropdown-menu.suggest .dropdown-item.active {
  background-color: #44e15d !important;
  color: white !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #c3edc0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #44e15d;
}
.chatbox {
  background-color: #aac8a7;
  flex-basis: 12%;
  border-radius: 15px;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prompt {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  width: 95vw;
}

#userInput {
  background-color: #c3edc0;
  height: 6vh;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  flex-basis: 90%;
  justify-self: center;
  align-self: center;
}

#sendBtn {
  flex-basis: 8%;
  border-radius: 25px;
  background-color: #aac8a7;
  border-color: transparent;
}

#sendIcon {
  height: 5vh;
}

.conversation {
  flex-basis: 85%;
  overflow-y: auto;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.user {
  text-align: end;
  margin-right: 2%;
}

#acknowledgeBtn {
  background-color: #44e15d;
  border: black;
}

.suggestions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.elements {
  flex-basis: 30%;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
.dropdownbtn {
  font-size: 20px;
  width: 90%;
  border-radius: 50px;
  background-color: #44e15d;
}

.dropdownbtn:hover {
  background-color: #76b974;
  color: #ffffff;
}

.suggest {
  width: 30vw;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Chat Bubbles */

.usertext,
.botText {
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  word-wrap: break-word;
  white-space: normal;
  max-width: 40%;
  padding: 1%;
  margin-bottom: 10px;
  border-radius: 25px;
  display: inline-block;
}

.usertext {
  background-color: #c3edc0;
  align-self: flex-end;
  margin-right: 2%;
}

.botText {
  background-color: #c3edc0;
  align-self: flex-start;
}

/* Team Members */

.containerMembers {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 95%;
  width: 100vw;
  height: 100vh;
}

#teamBg {
  width: 100vw;
  height: 20vh;
}

.TeamMembers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.theTeam {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.img-member {
  min-width: 250px;
  width: 20vw;
}
.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25vw;
}

.nameplate {
  text-align: center;
  margin: 0;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 70%;
  position: absolute;
  background-color: white;
  top: 87%;
  padding: 10px;
  min-width: 120px;
}

.nameplateContents {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
}

#names {
  font-weight: bolder;
}

#theMeet {
  font-size: 3.5vw;
  color: #4c8b3a;
}

#theConversation {
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 732px) {
  .containerMembers {
    overflow: scroll;
  }

  .member {
    margin-bottom: 15%;
  }
  .TeamMembers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40%;
  }

  #theMeet {
    font-size: 30px;
    color: #4c8b3a;
  }

  .nameplate {
    text-align: center;
    margin: 0;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 70%;
    position: absolute;
    background-color: white;
    top: 87%;
    padding: 10px;
  }

  .nameplateContents {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
}

/* About */
.aboutPage {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: row;
}

.aboutMotibot {
  flex-basis: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  padding-right: 5%;
  padding-left: 5%;
  text-align: justify;
}

.txt {
  background-color: rgba(255, 255, 255);
  border: solid black;
  padding: 2%;
  font-weight: 500;
}

.imageContainer {
  justify-content: center;
  display: flex;
  flex-basis: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

#aboutLogo {
  align-self: center;
  width: 40vw;
}

@media (max-width: 567px) {
  .aboutPage {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column-reverse;
  }

  #aboutLogo {
    margin-top: auto;
    margin-bottom: 2%;
  }

  .imageContainer {
    flex-basis: 40%;
  }

  .aboutMotibot {
    flex-basis: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    color: black;
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
  }
}

@media (max-width: 480px) {
  .dropdownbtn {
    font-size: 3vw;
    width: 90%;
    border-radius: 50px;
    background-color: #44e15d;
  }

  .suggest {
    width: 80vw;
    border-radius: 20px;
    font-size: 3vw;
    padding-bottom: 10px;
    word-wrap: break-word;
  }
  .chat_container {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    flex-basis: 80%;
    max-height: 80vh;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .suggestions {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .usertext,
  .botText {
    font-size: 4vw;
    max-width: 70%;
    padding: 10px;
  }

  #userInput {
    height: 5vh;
    border-radius: 15px;
    border: none;
    font-size: 4vw;
    font-family: "Outfit", sans-serif;
    padding-left: 10px;
    margin-left: 5px;
    padding-right: 10px;
    flex-basis: 90%;
    justify-self: center;
    align-self: center;
  }

  .chatbox {
    background-color: #aac8a7;
    flex-basis: 10%;
    border-radius: 15px;
    margin: 1%;
    width: 85vw;
    align-self: center;
  }

  .bot,
  .user {
    font-size: 3vw;
  }

  .usertext {
    margin-right: 2vw;
  }

  .botText {
    margin-left: 2vw;
  }

  .bot {
    margin-left: 2vw;
  }

  .user {
    margin-right: 2vw;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c3edc0;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #44e15d;
  }
  .aboutPage {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column-reverse;
  }

  #aboutLogo {
    margin-top: auto;
    margin-bottom: 2%;
  }

  .imageContainer {
    flex-basis: 40%;
  }

  .aboutMotibot {
    flex-basis: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    color: black;
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
  }

  .txt {
    font-size: 2.5vw;
  }

  .chatBtn {
    font-family: "Outfit", sans-serif;
    font-size: 4.5vw;
    color: white;
    padding: 1%;
    width: 45vw;
    background-color: #44e15d;
    border-radius: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  #slogan {
    align-self: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    font-weight: bolder;
    font-size: 10vw;
    width: 80vw;
  }

  #subslogan {
    font-family: "Outfit", sans-serif;
    font-size: 4vw;
    width: 80vw;
  }
}
