{% extends 'base.html' %}
{% load static %}

{% block title %}
    chatpage - {{ block.super }}
{% endblock %}

{% block navigation %}
    <a class="nav-item nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">HOME</a>
{% endblock %}

{% block content %}
<div class="chatpage_container">
    <div class="chat_container">
        <div class="responsive-iframe-container">
        <div class="responsive-iframe">
        <iframe
            src="https://opslime-motibot.hf.space"
        ></iframe>
        </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
