{% extends 'base.html' %}
{% load static %}
{% block title %}
    chatpage - {{ block.super }}
{% endblock %}
{% block navigation %}
    <a class="nav-item nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">HOME</a>
{% endblock %}

{% block content %}
<div style="background-image: url('{% static "image/BackgroundMain.png" %}');" class="chatpage">
    <div class="chatpage_container">
        <div class="chat_container">
            <div class="conversation" id="chatbot">
                {% comment %} conversation {% endcomment %}
                <p class="botText">{{ welcome_message }}<p class = "bot">Motibot</p></p>
            </div>
            <div class="suggestions">
                <div class="dropup-center dropup elements">
                    <button class="btn btn-secondary dropdown-toggle dropdownbtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        GREETINGS
                    </button>
                    <ul class="dropdown-menu suggest">
                        <li><a class="dropdown-item" href="#">Hello</a></li>
                        <li><a class="dropdown-item" href="#">Is anyone there?</a></li>
                        <li><a class="dropdown-item" href="#">Good morning</a></li>
                        <li><a class="dropdown-item" href="#">Good afternoon</a></li>
                        <li><a class="dropdown-item" href="#">Good night</a></li>
                        <li><a class="dropdown-item" href="#">See you later</a></li>
                        <li><a class="dropdown-item" href="#">Thank you</a></li>
                    </ul>
                </div>
                <div class="dropup-center dropup elements">
                    <button class="btn btn-secondary dropdown-toggle dropdownbtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        FAQS
                    </button>
                    <ul class="dropdown-menu suggest">
                        <li><a class="dropdown-item" href="#">Who are you?</a></li>
                        <li><a class="dropdown-item" href="#">What can you do?</a></li>
                        <li><a class="dropdown-item" href="#">Who created you?</a></li>
                        <li><a class="dropdown-item" href="#">What do you do with my data?</a></li>
                        <li><a class="dropdown-item" href="#">What is mental health?</a></li>
                        <li><a class="dropdown-item" href="#">Why is mental health important?</a></li>
                        <li><a class="dropdown-item" href="#">What does it mean to have a mental illness?</a></li>
                        <li><a class="dropdown-item" href="#">What are some of the warning signs of mental illness?</a></li>
                        <li><a class="dropdown-item" href="#">Can people with mental illness recover?</a></li>
                        <li><a class="dropdown-item" href="#">What's the difference between anxiety and stress?</a></li>
                    </ul>
                </div>
                <div class="dropup-center dropup elements">
                    <button class="btn btn-secondary dropdown-toggle dropdownbtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SUPPORT
                    </button>
                    <ul class="dropdown-menu suggest">
                        <li><a class="dropdown-item" href="#">Could you help me?</a></li>
                        <li><a class="dropdown-item" href="#">I feel like I'm alone</a></li>
                        <li><a class="dropdown-item" href="#">I feel ugly.</a></li>
                        <li><a class="dropdown-item" href="#">I wish I was better than them</a></li>
                        <li><a class="dropdown-item" href="#">I am so depressed</a></li>
                        <li><a class="dropdown-item" href="#">I am so stressed out</a></li>
                        <li><a class="dropdown-item" href="#">I want a break</a></li>
                        <li><a class="dropdown-item" href="#">I feel so worthless.</a></li>
                        <li><a class="dropdown-item" href="#">I feel ugly.</a></li>
                        <li><a class="dropdown-item" href="#">I hate myself!</a></li>
                        <li><a class="dropdown-item" href="#">I've thought about killing myself.</a></li>
                    </ul>
                </div>
                <div class="dropup-center dropup elements">
                    <button class="btn btn-secondary dropdown-toggle dropdownbtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        DIRECTORY
                    </button>
                    <ul class="dropdown-menu suggest">
                        <li><a class="dropdown-item" href="#">Where can I find a therapist or counselor for myself or my child?</a></li>
                    </ul>
                </div>
            </div>
            <div class="chatbox">
                <div class="prompt">
                    {% csrf_token %}
                    <input type="text" id="userInput" name="userMessage" placeholder="Type your message here...">
                    <button id="sendBtn">
                        <img src="{% static 'image/send.png' %}" alt="Logo" id="sendIcon">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Disclaimer Modal -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="disclaimerModalLabel">Disclaimer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p style="text-align: justify;">
                MotiBot is a research project created by students from LSPU San Pablo to explore mental health support. Due to the sensitivity of the topic, MotiBot's dataset is limited. It is not validated for real-world use and has a limited understanding of mental health topics. Some queries may not be understood by MotiBot due to its limited dataset. Please use MotiBot carefully and consult with healthcare professionals for mental health advice. Additionally, for your privacy, we do not save any data from user interactions; the conversation history is not retained.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="acknowledgeBtn">Acknowledge</button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $(document).ready(function() {

        function selectDropdownItem(item) {
            var selectedItemText = $(item).text();
            $('#userInput').val(selectedItemText);
        }
    
        $('.dropdown-item').on('click', function() {
            selectDropdownItem(this);
        });
    
        function getUserResponse() {
            var usertext = $('#userInput').val();
            var userHTML = "<p class='usertext'> <span>" + usertext + "</span></p><p class = 'user'>User</p>";
            $('#userInput').val("");
            $('#chatbot').append(userHTML);
            $('#chatbot').scrollTop($('#chatbot')[0].scrollHeight);
            $.get('/myapp/getResponse', { userMessage: usertext }).done(function(data) {
                var returnedmessage = "<p class='botText'><span>" + data + "</span></p><p class = 'bot'>Motibot</p>";
                $('#chatbot').append(returnedmessage);
                $('#chatbot').scrollTop($('#chatbot')[0].scrollHeight);
            });
        }
    
        $('#sendBtn').click(function() {
            getUserResponse();
        });
    
        $('#userInput').keypress(function(event) {
            if (event.which === 13) {
                event.preventDefault();
                $('#sendBtn').click();
            }
        });
    
        $('#acknowledgeBtn').click(function() {
            $('#disclaimerModal').modal('hide');
        });
    
        $('#disclaimerModal').modal('show');
    
    });
    
  </script>
  

{% endblock %}
