{% extends 'base.html' %}
{% load static %}
{% block title %}
    Team Members - {{ block.super }}
{% endblock %}

{% block content %}
    <div style="background-image: url('{% static "image/BottomVector.png" %}');" class = "containerMembers">
        <img src="{% static 'image/TeamMembersBG.png' %}" alt="" id="teamBg">
        <div class="theTeam">
            <h1 id="theMeet">Meet The Team</h1>
            <p id="theConversation">Conversational AI-based Intervention using SVM Algorithm for Promoting Positive Mental Well-Being among College Students</p>
        </div>
        <div class="TeamMembers">
                <div class="member">
                    <img src="{% static 'image/aeron.jpg'%}" alt="" class="img-member">
                    <div class="nameplate">
                        <h2 class="nameplateContents" id="names">Aeron</h2>
                        <p class="nameplateContents">Front-end Developer</p>
                    </div>
                </div>

                <div class="member">
                    <img src="{% static 'image/luis.jpg'%}" alt="" class="img-member">
                    <div class="nameplate">
                        <h2 class="nameplateContents" id="names">Luis</h2>
                        <p class="nameplateContents">Back-end Developer</p>
                    </div>
                </div>
                
                <div class="member">
                    <img src="{% static 'image/cedie.jpg'%}" alt="" class="img-member">
                    <div class="nameplate">
                        <h2 class="nameplateContents" id="names">Cedie</h2>
                        <p class="nameplateContents">Researcher</p>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
